.body {
    padding: 15px;
}
.body h5 { 
    padding: 20px 0;
}
.body img {
    padding: 1px;
    max-height: 330px;
}

.slide-in {
    opacity: 1;
    animation-name: slideInOpacity;
    -webkit-animation-name: slideInOpacity;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

@keyframes slideInOpacity {
	0% {
        opacity: 0;
    }

	100% {
        opacity: 1;
	}
}
@-webkit-keyframes slideInOpacity {
	from {
        opacity: 0;
    }

	to {
        opacity: 1;
	}
}