body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

nav ul {
  padding: 20px;
  width: 100%;
}

nav li {
  padding: 0 30px;
}

nav img {
  padding: 0 25px;
  width: 40%;
}

.container1 {
  position: relative;
  min-height: 100vh;
}

#root {
  padding-bottom: 220px;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer1, .footer2 {
  display: inline-block;
  line-height: 1.9em;
  padding: 0 50px;
  vertical-align: top;
  width: 40%;
}

.footer1 p {
  margin: 0;
}

footer h6 {
  padding: 10px;
}

.logos a {
  padding: 30px;
}

.slide-in {
  opacity: 1;
  animation-name: slideInOpacity;
  -webkit-animation-name: slideInOpacity;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@keyframes slideInOpacity {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@-webkit-keyframes slideInOpacity {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}